<!DOCTYPE>
<html>
	<head>
		<title>Barnteamets fikalista</title>
		<meta charset="utf-8">
		<link rel="stylesheet" media="screen" href="css/style.css" type="text/css">
	</head>
	<body>

	<div id="header"></div>
	<div id="list"></div>
		
	</body>

	<script type="text/x-underscore-template" id="list-template">
		<![CDATA[
			<ul>
				<% for(var i in this.persons) { %>
					<li class="<%= this.persons[i].active() === true ? 'is-active' : '' %>">
						<%= this.persons[i].name %>
					</li>
				<% } %>
			</ul>
		]]>
	</script>

	<script type="text/x-underscore-template" id="header-template">
		<![CDATA[
			<p class="home">
				<a href="/">Barnfika.nu</a>
			</p>
			<p href="/" class="next">
				Nästa fika om <%= this.daysLeft %>d, <%= this.hoursLeft %>h, <%= this.minutesLeft %>m och <%= this.secondsLeft %>s.
			</p>
		]]>
	</script>

	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.jqote2.js"></script>
	<script type="text/javascript" src="js/date.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

</html>
